.book-tile {
  padding: 0.5em;
}

.book-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  background-color: rgba(128, 128, 128, 0.3);
}

.popup {
  margin: 10% auto;
  padding: 5%;
  width: 80%;
  z-index: 999;
  background: #fff;
  border: solid 2px black;
}

.column1 {
  font-size: 2em;
  color: blue;
}
